body {
    background-color: #222831;
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.generate-button, .reset-button {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #393e46;
    font-size: 15px;
    color: white;
    transition: transform .2s ease;
    width: 100px;
    height: 40px;
}

.generate-button:hover, .reset-button:hover {
    background-color: #4a4f57;
    transform: scale(1.05);
}

.generate-button:active, .reset-button:active {
    background-color: #5b5f68
}

.grid-container {
    display: flex;
    background-color: aliceblue;
    width: 450px;
    height: 450px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.grid {
    box-sizing: border-box;
}

.active {
    background-color: rgb(31, 30, 30);
}

.footer {
    background-color: #393e46;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    margin-left: 4px;
    bottom: 1px;
}

/* .grid-container>.grid {
    width: 50px;
    height: 50px;
} */